<head>
   <title>Dashboard for {{.Username}}</title>
   <link href="/s/style.css" media="all" rel="stylesheet" />
</head>
<body>
<div class=page>

<h2>Dashboard for {{.Username}}</h2>
<p/>

{{ $prefix := printf "%s" .UrlPrefix  }}
{{range $server, $info := .ServerData }}
<div class=server>
   <h3>Server {{$server}}</h3>
   {{range $i, $path := $info.Voy.Allow }}
   <li><a href="{{$prefix}}@{{$server}}/{{$path}}/">{{$path}}</a></li> 
   {{end}}
   {{range $path, $fspath := $info.Voy.Alias }}
   <li><a href="{{$prefix}}@{{$server}}/{{$path}}/">{{$path}}</a> (aliased to {{$fspath}})</li> 
   {{end}}
</div>
{{end}}
</div>
</body>
</html>
