<html>
<head>
   <title>Pictures in {{$.Path}}</title>
   <link href="/s/style.css" media="all" rel="stylesheet" />
</head>
<body>
<div class=page>

{{range $i, $b := .Breadcrum}}
<a href="{{$b.Url}}">{{$b.Name}}</a> 
{{end}}

<h2>Pictures in {{.Path}}</h2>

{{if .Directories}}
<div class=directories>
   {{range $i, $f := .Directories}}
   <a href="{{$f.Url}}/">{{$f.Basename}}</a> &nbsp;
   {{end}}
   <p>
</div>
{{end}}

<div class=container>
   {{range $i, $f := .Files}}
   <div class=thumbnail>
      <a href="{{$f.Url}}"><img src="/image/?path={{$.LocalPath}}/{{$f.Name}}"></img></a>
   </div>
   {{end}}
</div>


</div>
</body>
</html>
