<html>
<head>
   <title>Pictures in {{$.Path}}</title>
   <link href="/s/style.css" media="all" rel="stylesheet" />
</head>
<body>

{{range $i, $b := .Breadcrum}}
<a href="{{$b.Url}}">{{$b.Name}}</a> 
{{end}}
<br>

<h2>{{.Title}} - {{$.LocalPath}}</h2>

{{range $i, $f := .Directories}}
<a href="{{$f.Url}}">{{$f.Basename}}</a> &nbsp;
{{end}}
<p>

{{range $i, $f := .Files}}

<div class=thumbnail>
   <a href="{{$f.Url}}"><img src="/image/?path={{$.LocalPath}}/{{$f.Name}}"></img></a>
</div>

{{end}}

</body>
