
body {
   background-color: white;
}

a {
   color: #0066FF;
}

.thumbnail {
   margin: 5px;
   padding: 2px;
   float: left;
   display: block;
   width: 128px;
   height: 128px;
   overflow: hidden;
}

h1, h2, h3, h4 {
   padding: 0px;
   margin: 0px;
}

div.page {
}

div.directories {
   padding: 5px;
   border: 1px solid grey;
   background-color: #EBEBEB;
}
div.container {
   background-color: #EBEBEB;
}
