
{{ $prefix := printf "%s/%s" .UrlPrefix  .RelPath }}

<html>
<head>
   <title>Videos in {{.RelPath}}</title>
   <link href="/s/style.css" media="all" rel="stylesheet" />
   <link href="/s/jPlayer/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="/s/jquery-1.11.3.min.js"></script>
   <script type="text/javascript" src="/s/jPlayer/jplayer/jquery.jplayer.min.js"></script>
   <script type="text/javascript" src="/s/jPlayer/add-on/jplayer.playlist.min.js"></script>

   <script type="text/javascript">
$(document).ready(function(){

      var playlist = new Array()
      {{range $i, $f := .Files}}
         var r = {
            title: "{{$f.Name}}",
            m4v: "{{$prefix}}/{{$f.Name}}",
         }
         playlist.push(r)
      {{end}}

   var jplayer = new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_1",
            cssSelectorAncestor: "#jp_container_1"
         }, playlist, {
      swfPath: "/s/jPlayer/jplayer",
      supplied: "m4v",
      useStateClassSkin: true,
      autoBlur: false,
      smoothPlayBar: true,
      keyEnabled: true
   });
   jplayer.option("addTime", 0)
   jplayer.option("displayTime", 0)
   jplayer.option("removeTime", 0)



})
   </script>

</head>
<body>
<div class=page>

{{range $i, $b := .Breadcrumb.Crumbs}}
<a href="{{$b.Url}}/">{{$b.Name}}</a> 
{{end}}

<h2>Videos in {{.RelPath}}</h2>


<!--
Path           {{.Path}}
UrlPrefix      {{.UrlPrefix}}
RelPath        {{.RelPath}}
LocalPath      {{.LocalPath}}
RemoteServer   {{.RemoteServer}}

prefix         {{$prefix}}
-->


{{if .Directories}}
<div class=directories>
   {{range $i, $f := .Directories}}
   <a href="{{$f.Name}}/">{{$f.Basename}}</a> &nbsp;
   {{end}}
   <p>
</div>
{{end}}

<div class=container>
{{if .Files}}
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
   <div class="jp-type-playlist">
      <div class="jp-gui jp-interface">
         <div class="jp-controls">
            <button class="jp-previous" role="button" tabindex="0">previous</button>
            <button class="jp-play" role="button" tabindex="0">play</button>
            <button class="jp-next" role="button" tabindex="0">next</button>
            <button class="jp-stop" role="button" tabindex="0">stop</button>
         </div>
         <div class="jp-progress">
            <div class="jp-seek-bar">
               <div class="jp-play-bar"></div>
            </div>
         </div>
         <div class="jp-volume-controls">
            <button class="jp-mute" role="button" tabindex="0">mute</button>
            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
            <div class="jp-volume-bar">
               <div class="jp-volume-bar-value"></div>
            </div>
         </div>
         <div class="jp-time-holder">
            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
         </div>
         <div class="jp-toggles">
            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
            <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
         </div>
      </div>
      <div class="jp-playlist">
         <ul>
            <li>&nbsp;</li>
         </ul>
      </div>
      <div class="jp-no-solution">
         <span>Update Required</span>
         To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
   </div>
</div>
{{end}}

</div>
</body>
</html>
